<div class="bg-dark footer d-flex align-items-center justify-content-around">
    <a class="btn btn-link" href="#">Prendre Contact</a>
    <a class="btn btn-link">Mentions Légales</a>
    <a class="btn btn-link">CGV</a>
</div>